# Unity generated folders
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/

# IDE
.vs/
.idea/

# OS
.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Project files
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Packages
Packages/packages-lock.json